* {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html {
  font-size: 6px;
}

@media (min-width:400px) {
  html {
    font-size: 8px;
  }
}

@media (min-width:767px) {
  html {
    font-size: 10px;
  }
}

@media (min-width:992px) {
  html {
    font-size: 12px;
  }
}

/* - - - F L E X - - - */
.parent {
  width: 40rem;
  margin: 3.75rem auto;
}

.parent .challenge_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.parent .challenge_flex .e {
  background-color: #323234;
  width: 18.75rem;
  height: 37.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
}

.parent .challenge_flex .e .top,
.parent .challenge_flex .e .bottom {
  background-color: white;
  width: 13.76rem;
  height: 11.25rem;
}

.parent .challenge_flex .l {
  background-color: transparent;
  width: 18.75rem;
  height: 37.5rem;
  border-left: 5rem solid #323234;
  border-bottom: 5rem solid #323234;
  position: relative;
}

.parent .challenge_flex .move {
  background-color: #daa520;
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
}

.parent .challenge_flex .e .move {
  top: 0.625rem;
  right: 0.625rem;
  animation-name: animat_e;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.parent .challenge_flex .l .move {
  animation-name: animat_l;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  bottom: 0;
  left: 0;
  transform: translate(9.375rem, 4.375rem);
  -webkit-transform: translate(9.375rem, 4.375rem);
  -moz-transform: translate(9.375rem, 4.375rem);
  -ms-transform: translate(9.375rem, 4.375rem);
  -o-transform: translate(9.375rem, 4.375rem);
}

@keyframes animat_l {
  0% {
    transform: translate(9.375rem, 4.375rem);
    opacity: 0;
    -webkit-transform: translate(9.375rem, 4.375rem);
    -moz-transform: translate(9.375rem, 4.375rem);
    -ms-transform: translate(9.375rem, 4.375rem);
    -o-transform: translate(9.375rem, 4.375rem);
  }

  7% {
    transform: translate(9.375rem, 4.375rem);
    opacity: 1;
    -webkit-transform: translate(9.375rem, 4.375rem);
    -moz-transform: translate(9.375rem, 4.375rem);
    -ms-transform: translate(9.375rem, 4.375rem);
    -o-transform: translate(9.375rem, 4.375rem);
  }

  15% {
    transform: translate(-4.375rem, 4.375rem);
    -webkit-transform: translate(-4.375rem, 4.375rem);
    -moz-transform: translate(-4.375rem, 4.375rem);
    -ms-transform: translate(-4.375rem, 4.375rem);
    -o-transform: translate(-4.375rem, 4.375rem);
  }

  30% {
    opacity: 1;
    transform: translate(-4.375rem, -28.125rem);
    -webkit-transform: translate(-4.375rem, -28.125rem);
    -moz-transform: translate(-4.375rem, -28.125rem);
    -ms-transform: translate(-4.375rem, -28.125rem);
    -o-transform: translate(-4.375rem, -28.125rem);
  }

  45% {
    opacity: 1;
    transform: translate(-4.375rem, -28.125rem);
    -webkit-transform: translate(-4.375rem, -28.125rem);
    -moz-transform: translate(-4.375rem, -28.125rem);
    -ms-transform: translate(-4.375rem, -28.125rem);
    -o-transform: translate(-4.375rem, -28.125rem);
  }

  50% {
    opacity: 0;
    transform: translate(-4.375rem, -28.125rem);
    -webkit-transform: translate(-4.375rem, -28.125rem);
    -moz-transform: translate(-4.375rem, -28.125rem);
    -ms-transform: translate(-4.375rem, -28.125rem);
    -o-transform: translate(-4.375rem, -28.125rem);
  }
}

@keyframes animat_e {
  50% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }

  55.5% {
    transform: translate(-13.76rem, 0);
    -webkit-transform: translate(-13.76rem, 0);
    -moz-transform: translate(-13.76rem, 0);
    -ms-transform: translate(-13.76rem, 0);
    -o-transform: translate(-13.76rem, 0);
  }

  60.5% {
    transform: translate(-13.76rem, 16.25rem);
    -webkit-transform: translate(-13.76rem, 16.25rem);
    -moz-transform: translate(-13.76rem, 16.25rem);
    -ms-transform: translate(-13.76rem, 16.25rem);
    -o-transform: translate(-13.76rem, 16.25rem);
  }

  65.5% {
    transform: translate(0, 16.25rem);
    -webkit-transform: translate(0, 16.25rem);
    -moz-transform: translate(0, 16.25rem);
    -ms-transform: translate(0, 16.25rem);
    -o-transform: translate(0, 16.25rem);
  }

  70.5% {
    transform: translate(-13.76rem, 16.25rem);
    -webkit-transform: translate(-13.76rem, 16.25rem);
    -moz-transform: translate(-13.76rem, 16.25rem);
    -ms-transform: translate(-13.76rem, 16.25rem);
    -o-transform: translate(-13.76rem, 16.25rem);
  }

  75.5% {
    transform: translate(-13.76rem, 32.5rem);
    -webkit-transform: translate(-13.76rem, 32.5rem);
    -moz-transform: translate(-13.76rem, 32.5rem);
    -ms-transform: translate(-13.76rem, 32.5rem);
    -o-transform: translate(-13.76rem, 32.5rem);
  }

  80.5% {
    transform: translate(0, 32.5rem);
    -webkit-transform: translate(0, 32.5rem);
    -moz-transform: translate(0, 32.5rem);
    -ms-transform: translate(0, 32.5rem);
    -o-transform: translate(0, 32.5rem);
  }

  85.5% {
    transform: translate(-13.76rem, 32.5rem);
    -webkit-transform: translate(-13.76rem, 32.5rem);
    -moz-transform: translate(-13.76rem, 32.5rem);
    -ms-transform: translate(-13.76rem, 32.5rem);
    -o-transform: translate(-13.76rem, 32.5rem);
  }

  90% {
    transform: translate(-13.76rem, 0);
    -webkit-transform: translate(-13.76rem, 0);
    -moz-transform: translate(-13.76rem, 0);
    -ms-transform: translate(-13.76rem, 0);
    -o-transform: translate(-13.76rem, 0);
  }

  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}

hr {
  margin: 6.25rem;
}

/* - - - G R I D- - -  */
.parent .challenge_grid {
  display: grid;
  column-gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.parent .challenge_grid .e {
  background-color: #323234;
  width: 18.75rem;
  height: 37.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  position: relative;
}

.parent .challenge_grid .e .top,
.parent .challenge_grid .e .bottom {
  background-color: white;
  width: 13.76rem;
  height: 11.25rem;
  transform: translate(5rem, 1.25rem);
  -webkit-transform: translate(5rem, 1.25rem);
  -moz-transform: translate(5rem, 1.25rem);
  -ms-transform: translate(5rem, 1.25rem);
  -o-transform: translate(5rem, 1.25rem);
}

.parent .challenge_grid .e .bottom {
  transform: translate(5rem, -1.25rem);
  -webkit-transform: translate(5rem, -1.25rem);
  -moz-transform: translate(5rem, -1.25rem);
  -ms-transform: translate(5rem, -1.25rem);
  -o-transform: translate(5rem, -1.25rem);
}

.parent .challenge_grid .l {
  background-color: transparent;
  width: 18.75rem;
  height: 37.5rem;
  border-left: 5rem solid #323234;
  border-bottom: 5rem solid #323234;
  position: relative;
}

.parent .challenge_grid .move {
  background-color: #daa520;
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
}

.parent .challenge_grid .e .move {
  top: 0.625rem;
  right: 0.625rem;
  animation-name: animat_e;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.parent .challenge_grid .l .move {
  animation-name: animat_l;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  bottom: 0;
  left: 0;
  transform: translate(9.375rem, 4.375rem);
  -webkit-transform: translate(9.375rem, 4.375rem);
  -moz-transform: translate(9.375rem, 4.375rem);
  -ms-transform: translate(9.375rem, 4.375rem);
  -o-transform: translate(9.375rem, 4.375rem);
}

@keyframes animat_l {
  0% {
    transform: translate(9.375rem, 4.375rem);
    opacity: 0;
    -webkit-transform: translate(9.375rem, 4.375rem);
    -moz-transform: translate(9.375rem, 4.375rem);
    -ms-transform: translate(9.375rem, 4.375rem);
    -o-transform: translate(9.375rem, 4.375rem);
  }

  7% {
    transform: translate(9.375rem, 4.375rem);
    opacity: 1;
    -webkit-transform: translate(9.375rem, 4.375rem);
    -moz-transform: translate(9.375rem, 4.375rem);
    -ms-transform: translate(9.375rem, 4.375rem);
    -o-transform: translate(9.375rem, 4.375rem);
  }

  15% {
    transform: translate(-4.375rem, 4.375rem);
    -webkit-transform: translate(-4.375rem, 4.375rem);
    -moz-transform: translate(-4.375rem, 4.375rem);
    -ms-transform: translate(-4.375rem, 4.375rem);
    -o-transform: translate(-4.375rem, 4.375rem);
  }

  30% {
    opacity: 1;
    transform: translate(-4.375rem, -28.125rem);
    -webkit-transform: translate(-4.375rem, -28.125rem);
    -moz-transform: translate(-4.375rem, -28.125rem);
    -ms-transform: translate(-4.375rem, -28.125rem);
    -o-transform: translate(-4.375rem, -28.125rem);
  }

  45% {
    opacity: 1;
    transform: translate(-4.375rem, -28.125rem);
    -webkit-transform: translate(-4.375rem, -28.125rem);
    -moz-transform: translate(-4.375rem, -28.125rem);
    -ms-transform: translate(-4.375rem, -28.125rem);
    -o-transform: translate(-4.375rem, -28.125rem);
  }

  50% {
    opacity: 0;
    transform: translate(-4.375rem, -28.125rem);
    -webkit-transform: translate(-4.375rem, -28.125rem);
    -moz-transform: translate(-4.375rem, -28.125rem);
    -ms-transform: translate(-4.375rem, -28.125rem);
    -o-transform: translate(-4.375rem, -28.125rem);
  }
}

@keyframes animat_e {
  50% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }

  55.5% {
    transform: translate(-13.76rem, 0);
    -webkit-transform: translate(-13.76rem, 0);
    -moz-transform: translate(-13.76rem, 0);
    -ms-transform: translate(-13.76rem, 0);
    -o-transform: translate(-13.76rem, 0);
  }

  60.5% {
    transform: translate(-13.76rem, 16.25rem);
    -webkit-transform: translate(-13.76rem, 16.25rem);
    -moz-transform: translate(-13.76rem, 16.25rem);
    -ms-transform: translate(-13.76rem, 16.25rem);
    -o-transform: translate(-13.76rem, 16.25rem);
  }

  65.5% {
    transform: translate(0, 16.25rem);
    -webkit-transform: translate(0, 16.25rem);
    -moz-transform: translate(0, 16.25rem);
    -ms-transform: translate(0, 16.25rem);
    -o-transform: translate(0, 16.25rem);
  }

  70.5% {
    transform: translate(-13.76rem, 16.25rem);
    -webkit-transform: translate(-13.76rem, 16.25rem);
    -moz-transform: translate(-13.76rem, 16.25rem);
    -ms-transform: translate(-13.76rem, 16.25rem);
    -o-transform: translate(-13.76rem, 16.25rem);
  }

  75.5% {
    transform: translate(-13.76rem, 32.5rem);
    -webkit-transform: translate(-13.76rem, 32.5rem);
    -moz-transform: translate(-13.76rem, 32.5rem);
    -ms-transform: translate(-13.76rem, 32.5rem);
    -o-transform: translate(-13.76rem, 32.5rem);
  }

  80.5% {
    transform: translate(0, 32.5rem);
    -webkit-transform: translate(0, 32.5rem);
    -moz-transform: translate(0, 32.5rem);
    -ms-transform: translate(0, 32.5rem);
    -o-transform: translate(0, 32.5rem);
  }

  85.5% {
    transform: translate(-13.76rem, 32.5rem);
    -webkit-transform: translate(-13.76rem, 32.5rem);
    -moz-transform: translate(-13.76rem, 32.5rem);
    -ms-transform: translate(-13.76rem, 32.5rem);
    -o-transform: translate(-13.76rem, 32.5rem);
  }

  90% {
    transform: translate(-13.76rem, 0);
    -webkit-transform: translate(-13.76rem, 0);
    -moz-transform: translate(-13.76rem, 0);
    -ms-transform: translate(-13.76rem, 0);
    -o-transform: translate(-13.76rem, 0);
  }

  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}

/*   - - - G R I D [2]- - -  */
.parent .challenge_grid_2 {
  margin: 1.25rem auto;
  width: 41.25rem;
  height: 37.5rem;
  display: grid;
  grid-template-columns: 5rem 13.76rem 3.75rem 5rem 13.76rem;
  grid-template-rows: 5rem 11.25rem 5rem 11.25rem 5rem;
  position: relative;
}

.parent .challenge_grid_2 div {
  background-color: #323234;
}

.parent .challenge_grid_2 .one-e {
  grid-row: 1/6;
  grid-column: 1/2;
}

.parent .challenge_grid_2 .two-e {
  grid-row: 1/2;
  grid-column: 2/3;
}

.parent .challenge_grid_2 .three-e {
  grid-row: 3/4;
  grid-column: 2/3;
}

.parent .challenge_grid_2 .four-e {
  grid-row: 5/6;
  grid-column: 2/3;
}

.parent .challenge_grid_2 .one-l {
  grid-row: 1/6;
  grid-column: 4/5;
}

.parent .challenge_grid_2 .two-l {
  grid-row: 5/6;
  grid-column: 5/6;
}

.parent .challenge_grid_2 .animat {
  position: absolute;
  background-color: #daa520;
  width: 3.75rem;
  height: 3.75rem;
  animation-timing-function: linear;
  animation-duration: 8s;
  animation-iteration-count: infinite;

}

.parent .challenge_grid_2 .animat-e {
  animation-name: animation-e;
  top: 0.625rem;
  left: 14.375rem;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

@keyframes animation-e {
  50% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }

  55.5% {
    transform: translate(-13.76rem, 0);
    -webkit-transform: translate(-13.76rem, 0);
    -moz-transform: translate(-13.76rem, 0);
    -ms-transform: translate(-13.76rem, 0);
    -o-transform: translate(-13.76rem, 0);
  }

  60.5% {
    transform: translate(-13.76rem, 16.25rem);
    -webkit-transform: translate(-13.76rem, 16.25rem);
    -moz-transform: translate(-13.76rem, 16.25rem);
    -ms-transform: translate(-13.76rem, 16.25rem);
    -o-transform: translate(-13.76rem, 16.25rem);
  }

  65.5% {
    transform: translate(0, 16.25rem);
    -webkit-transform: translate(0, 16.25rem);
    -moz-transform: translate(0, 16.25rem);
    -ms-transform: translate(0, 16.25rem);
    -o-transform: translate(0, 16.25rem);
  }

  70.5% {
    transform: translate(-13.76rem, 16.25rem);
    -webkit-transform: translate(-13.76rem, 16.25rem);
    -moz-transform: translate(-13.76rem, 16.25rem);
    -ms-transform: translate(-13.76rem, 16.25rem);
    -o-transform: translate(-13.76rem, 16.25rem);
  }

  75.5% {
    transform: translate(-13.76rem, 32.5rem);
    -webkit-transform: translate(-13.76rem, 32.5rem);
    -moz-transform: translate(-13.76rem, 32.5rem);
    -ms-transform: translate(-13.76rem, 32.5rem);
    -o-transform: translate(-13.76rem, 32.5rem);
  }

  80.5% {
    transform: translate(0, 32.5rem);
    -webkit-transform: translate(0, 32.5rem);
    -moz-transform: translate(0, 32.5rem);
    -ms-transform: translate(0, 32.5rem);
    -o-transform: translate(0, 32.5rem);
  }

  85.5% {
    transform: translate(-13.76rem, 32.5rem);
    -webkit-transform: translate(-13.76rem, 32.5rem);
    -moz-transform: translate(-13.76rem, 32.5rem);
    -ms-transform: translate(-13.76rem, 32.5rem);
    -o-transform: translate(-13.76rem, 32.5rem);
  }

  90% {
    transform: translate(-13.76rem, 0);
    -webkit-transform: translate(-13.76rem, 0);
    -moz-transform: translate(-13.76rem, 0);
    -ms-transform: translate(-13.76rem, 0);
    -o-transform: translate(-13.76rem, 0);
  }

  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}

.parent .challenge_grid_2 .animat-l {
  animation-name: animation-l;
  opacity: 0;
  bottom: 0.625rem;
  right: 0.625rem;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

@keyframes animation-l {
  0% {
    transform: translate(0, 0);
    opacity: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }

  7% {
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }

  15% {
    transform: translate(-13.76rem, 0);
  }

  30% {
    opacity: 1;
    transform: translate(-13.76rem, -32.5rem);
    -webkit-transform: translate(-13.76rem, -32.5rem);
    -moz-transform: translate(-13.76rem, -32.5rem);
    -ms-transform: translate(-13.76rem, -32.5rem);
    -o-transform: translate(-13.76rem, -32.5rem);
  }

  45% {
    opacity: 1;
    transform: translate(-13.76rem, -32.5rem);
    -webkit-transform: translate(-13.76rem, -32.5rem);
    -moz-transform: translate(-13.76rem, -32.5rem);
    -ms-transform: translate(-13.76rem, -32.5rem);
    -o-transform: translate(-13.76rem, -32.5rem);
  }

  50% {
    opacity: 0;
    transform: translate(-13.76rem, -32.5rem);
    -webkit-transform: translate(-13.76rem, -32.5rem);
    -moz-transform: translate(-13.76rem, -32.5rem);
    -ms-transform: translate(-13.76rem, -32.5rem);
    -o-transform: translate(-13.76rem, -32.5rem);
  }
}

/* =======    E N D   assignment [ 4 ] */